/* Inline style=" " tag is used rare as professionally.
Writing style codde in HTML file is avoided professionally. */

/* Notes: in Style Sheet we use selector before curley brackets and propety in curley brackets. 
Similar can be done under style tag in head of HTML*/

/* CSS apply sequiential with line. */

/* CSS: color, text, font*/


 *{color: #ff000f; color: rgb(0, 0, 0);}     /* *Universal selector */
body{background-color: gray;}                 /*Element selector*/ 
#V6i {color: lime; }                         /* #id_selector {} (avoid giving same id to many channels instead use class.)*/
.para-1 {color: aqua;}                      /* .class selector {} */
p{color: #ffffff; }

/* text */
   h1{ text-decoration: wavy overline underline  rgb(0, 0, 0);}

/* font family, many font but apply which supports 
font-size is in px and many forms or units
font-weight [100,900]*/
p{  font-family: 'Arial Narrow Bold',Times, serif, Haettenschweiler,sans-serif;
    font-size: 21px;
    font-weight: 1000;
    line-height:0.5cm;}   

/*moodify default style line underline in links */
a{text-decoration: none; color:  cornflowerblue}

/* Casing --> uppercase, lowercase, capitalize, none */
a{text-transform:capitalize;}

#box{background-color: darkorchid; height: 25px; text-align: center;}



#div1{color: black;
    background-color: white;
    height: 30px;
    width:  300px;
    text-align: center;

    /* border properties short
        border: width style color  */
    border-style:solid;
    border-radius: 30px;
    border: #ff000f dotted;

    /* padding is free space between main content and border
            padding: 10px; Used when all side padding is same 
            padding: 100px 10px; Used as top_bottom, side
            padding: 100px 10px 100px 10px Used as top right bottom left, clockwise from top*/
    padding-top   : 100px;
    padding-bottom: 100px;
    padding-left  : 10px ;
    padding-right : 10px ;
    padding: 100px 10px;
    /* similar for margin : It is body space between any 2 content ; while padding is distance from border*/
    margin: 10%;
    }

/* display tag is width taking type
    display: inline is used to occupy exact space as of element
    display: block is used to occupy complete space of widthend
    display: inline-block to add size over inline property
    display: none to remove it completely
    visibility: hidden to hide content with occupying space.
    Therefor, <a> is byDeafult inline can change to block and <div>, <para> <h > is byDeafult block can change to inline*/
    p{display: none;}


    #h{
        height: 18px;
        background-color: bisque;
        color: cornflowerblue;
        font-size: 7px;
        border: 2px solid black;
    }

