ul{
    /* display: inline-block; */
    background-color: #3e3333;
    height: 10vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a{
    text-decoration: none;
    color: beige;
}

#d1{
    height: 200px;
    width: 200px;
    background-color: bisque;
    border: 2px solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}

#d2{
    height: 100px;
    width: 100px;
    background-color: #3e3333;
}


@media (min-width : 500px) and (max-width: 800px){
    ul{
        background-color: beige;
        height: 8vh;
        border-radius: 8vh;
    }
    
    a{color: #3e3333;}
    
    #d1{
        height: 200px;
        width: 200px;
        background-color: #3e3333;
        border: 1px dashed;
        border-radius: 8px;        
    }
    
    #d2{
        height: 50px;
        width: 50px;
        background-color: bisque;
    }
}

#ps7{
    background-color: green;
    height: 100px;
}

@media (min-width:300px) and (max-width:400px) {
    #ps7{background-color: pink;}}
@media (min-width:400px) and (max-width:600px){
    #ps7{background-color: red;}}
@media (min-width:600px){
    #ps7{background-color: blue;}}





#Circular{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    border-top: 4px solid #F7FFF7;
    border-right: 6px solid #4ecdc4; 

    transition: all 12s ease-in-out 1s;    /*Being applied on all the changes that is different from normal*/
    transform: rotate(4320deg);
    animation: spin 1s  ease-in 1s infinite normal;
}  

@keyframes spin{
    from{
        transform: rotate(0deg);    
    }
    to{
        transform: rotate(360deg);
    }
}